<div class="panel panel-default">
    <div class="panel-heading">
      {{accounts.accountName}}
    </div>
    <div class="panel-body">
      <p>Account status is {{accounts.status}}</p> 
      <button type="button" class="btn btn-default" (click)="onClickStatus('Active')">Set status to 'Active'</button>
      <button type="button" class="btn btn-default" (click)="onClickStatus('InActive')">Set status to 'InActive'</button>
      <button type="button" class="btn btn-default"(click)="onClickStatus('Unknown')">Set status to 'Unknown'</button>
    </div>
</div>